<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <ul>
            <li>x_springboot-inteface-generator是X-SpringBoot项目的代码生成器，可在线生成一个模块的代码，减少90%以上的开发任务，复杂逻辑或多表关联只须要修改mapper.xml，一个模块只须1秒</li>
            <li>如需关注项目最新动态，请Watch、Star项目，同时也是对项目最好的支持</li>
        </ul>
    </div>
</div>
</body>
</html>